body,html{
    height: 100%;
     margin:0;
}

.main {
    background-color: rgb(13,199,212);
    background-image: url(/images/IMG_0289.jpg);
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.container {
    font-size: 1em;
    width: 100%; 
    height: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background:#00FFFFFF;
    opacity: 0.3;
    z-index: 2; 
    text-align: center;
}

input {
    height: 2em;
    font-size: 2em;
    padding-left: 1em;
    padding-right: 1em;
}

button {
    height: 2em;
    font-size: 2em;
}

li {
    font-size: 2em;
    text-align: center;
    }

.close {
    padding-left: 2em;
}


/* @media only screen and (max-width: 767px) {
    main {
    height: 50%;
    width: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
} */